.footer {
  margin-top: 50px;
  height: 100px;
  background-color: #000;
  color: #fff;
  padding-top: 30px;
}
.footer a {
  color: #fff;
}
.contact-info {
  list-style-type: none;
  padding: 0;
}
.contact-info li {
  border: 1px solid #eee;
  font-size: 12px;
  padding: 5px;
  font-family: 'Open Sans', sans-serif;
}
